.board {
  background-color: white;
  width: 500px;
  height: 500px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  .score {
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
  }
}
