.item {
  width: 20px;
  height: 20px;
  position: absolute;

  &_trap {
    background: url('../../../public/bush.png'); // Trap image
  }

  &_food {
    background: url('../../../public/pokeball.png'); // Food image
  }
}
