.scoreboard {
  position: absolute;
  z-index: 100;
  left: 10%;
  top: 15%;
  color: white;
}

.header {
  span {
    font-weight: bold;
    font-size: 20px;
  }
}
.header,
.result {
  display: flex;
  gap: 50px;

  span {
    width: 100px;
  }
}
