body {
  margin: 0;
  background-color: black;
}

.toggle-wrapper {
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 10;
}

.flashbang {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
}

.dropzone {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  outline: none;

  input {
    outline: none;
  }
}
