body {
  margin: 0;
  background-color: black;
}

.toggle-wrapper {
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 10;
}

.flashbang {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
}

.dropzone {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  outline: none;

  input {
    outline: none;
  }
}

.die-video,
.nether-video {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 80;
  object-fit: cover;
  display: none;
}

.nether-video {
  opacity: 0.9;
  width: 105%;
  height: 105vh;
  left: -2.5%;
  top: -2.5%;
  transform: scale(1);
  transform-origin: center;
  animation: rotatePortal 1s infinite linear;
}

@keyframes rotatePortal {
  100% {
    transform: scale(1.5);
  }
}
